@font-face {
  font-family: "Asap-Bold";
  src: url("../fonts/Asap-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Medium";
  src: url("../fonts/Asap-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
